@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Roboto:ital,wght@1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

p {
    color: hsl(220, 15%, 55%);
    letter-spacing: 0.2px;
}

h4 {
    color: hsl(218, 44%, 22%);
    font-size: 22px;
    margin-bottom: 16px;
    letter-spacing: 0.1px;
}


#pageWrap {
    position: relative;
    width:100vw;
    height:100vh;
}


.qr-code-card {
    position:absolute;
    top: 152px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 320px;
    padding: 16px;
    border-radius: 20px;
    background-color:white;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.1);
}

    .qr-code-image > img {
        border-radius: 10px;
        width:100%;
    }

    .qr-code-desc {
        padding: 20px 16px 24px 16px;
        text-align:center;
    }